@model GradingTable

<div class="container p-3">
    <div align="center">
        <h2>Parameter list</h2>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-6">
            <a asp-controller="Parameter" asp-action="Create" class="btn btn-primary">Create new parameter</a>
        </div>
    }
</div>

@if (Model.Parameters.Count() > 0)
{
    <form action="handler.php">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Parameter
                        </th>
                        <th>
                            Coefficient
                        </th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th>
                                Change
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var parameter in Model.Parameters)
                    {
                    <tr>
                        @if (parameter.MarkDescriptions.Count() > 0)
                        {
                            string result = "";
                            @foreach (var description in parameter.MarkDescriptions)
                            {
                                result += description.Mark.ToString() + " - " + description.Description + "\n"; /*create hints with description of marks*/
                            }
                            <td title="@result" width="25%">@parameter.Name</td>
                        }
                        else
                        {
                            <td title="-" width="25%">@parameter.Name</td>
                        }
                        <td width="25%">@parameter.Coefficient</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td width="30%">
                                <div class="w-100 btn-group" role="group">
                                    <a asp-controller="Grade" asp-action="UpdateParameter" asp-route-Id="@parameter.Id" class="btn btn-primary">Update</a>
                                    <a asp-controller="Grade" asp-action="DeletePrameter" asp-route-Id="@parameter.Id" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
    </form>
}